
header {
    display: flex;
    background-color: rgb(99, 99, 99);
    width: 70%;
    margin: 0 auto;
    padding: 5px;
    align-items: center;
}

header > p {
    color: rgb(170, 132, 210);
    font-size: 1.2rem;
    padding-left: 20px;
    text-shadow: 0 1px black;
    font-weight: bold;
}

nav {
    display: flex;
    width: 70%;
    justify-content: center;
}

nav > ul {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

nav ul li {
   padding-left: 20px;
   padding-right: 20px;
   color: rgb(254, 254, 254);
}